.zt-container {
	height: 450px;
	position: relative;
	overflow: hidden;
	margin: 20px auto;
	background: #fff;
	border: 7px solid #fff;
	-moz-box-shadow: 1px 1px 3px #ddd;
	-webkit-box-shadow: 1px 1px 3px #ddd;
	box-shadow: 1px 1px 3px #ddd;
}
img.zt-current {
	position: absolute;
	display: none;
}
img.zt-temp {
	position: absolute;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
.zt-tag {
	position: absolute;
	z-index: 10;
	border: 2px solid #fff;
	background: transparent url(../images/tag.png) repeat top left;
	width: 50px;
	height: 37px;
	cursor: pointer;
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
	box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}
.zt-tag-back {
	width: 30px;
	height: 20px;
	left: 50%;
	bottom: 0px;
	margin-left: -16px;
	background: #fff url(../images/back.png) no-repeat center center;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	border: 1px solid #fff;
	border-bottom: none;
}
.zt-loading {
	position: absolute;
	width: 50px;
	height: 50px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	opacity: 0.8;
	z-index: 99999;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	background: #fff url(../images/ajax-loader.gif) no-repeat center center;
}
.little-image {
	left: 50%;
	margin-left: -169px;
}
