body {
	font-family: Arial, "微软雅黑";
	background: #B9E6EB url(../images/body_repeat.png) repeat-x;
}
.blog {
	background: url(../images/body_bg.jpg) no-repeat center 0;
}

.wrapper {
	color: #333;
	border-top: 1px solid #CCC;
}
.wrapper .navs {
	width: 220px;
	position: fixed;
	top: 60px;
	left: 55px;
	background-color: #fafafa;
}
.wrapper .contents {
	min-height: 506px;
	min-width: 800px;
	padding: 60px 0 100px 325px;
}

.posts-list {
	float: left;
	margin: 0 0 0 -20px;
	list-style: none;
}
.posts-list .post {
	width: 280px;
	height: 230px;
	margin: 0 0 40px 20px;
	float: left;
	background-color: #fff;
	position: relative;
	box-shadow: 0 1px 1px #eee;
	list-style: none;
	border: 1px solid #dcdcdc;
	border-radius: 10px;
}
.posts-list .post:hover {
	border: 2px solid #ff5f3e;
	margin: -1px -1px 39px 19px;
}
.posts-list .shortcut {
	height: 150px;
	width: 280px;
	background-color: #efefef;
	overflow: hidden;
	border-radius: 10px 10px 0 0;
}
.posts-list .shortcut p {
	padding: 20px 20px 0;
	color: #888;
	line-height: 22px;
	text-indent: 24px;
	float: left;
}
.posts-list .post-title {
	padding: 15px 15px 10px;
	width: 250px;
	font-size: 14px;
	line-height: 18px;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.posts-list .post-extra {
	padding: 5px 16px 0;
	color: #999;
	line-height: 10px;
	font-size: 11px;
}

#post, #comments {
	background: #fafafa;
	margin: 0 100px 0 0;
	padding: 20px 25px 75px;
	color: #444;
    font-size: 14px;
	line-height: 24px;
}
#post {
	border-radius: 5px 5px 0 0;
}
#comments {
	border-radius: 0 0 5px 5px;
}
#post li {
	line-height: 24px;
	list-style-type: circle;
}

a:hover {
	text-decoration: none;
}
pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    padding: 0;
}
.nav {
	margin-bottom: 0;
}

.goto_top {
    position: fixed;
    bottom: 30px;
    display: none;
    background-color: #F7F7F7;
    border: 1px solid #CCC;
    border-radius: 2px;
    width: 22px;
    height: 80px;
    padding-top: 5px;
    line-height: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #333;
}
.goto_top:hover {
    background-color: #F0F0F0;
    color: #606060;
}
.goto_top i {
    margin-bottom: 2px;
}

.footer {
    border-top: 1px solid #ddd;
    padding: 40px 0;
    text-align: center;
    margin-top: 40px;
    color: #777;
}
.footer p {
    font-size: 14px;
    color: #777;
}
.footer a {
    margin: 0 0.5em;
    color: #777;
}


.time_line {
    vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/time_line.png) no-repeat;
}
.rss {
	vertical-align: middle;
    display: inline-block;
    width: 32px;
    height: 32px;
    background: url(../images/rss.png) no-repeat;
}
.vco-storyjs h2.start, .my_description {
    margin-left: 250px;
}
