<!doctype html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8" />
	<title>Cart</title>
</head>
<body ng-controller="CartController">
	<h1>Your Order</h1>
	<div ng-repeat="item in items">
	 <span>{{item.title}}</span>
	 <input ng-model="item.quantity" />
	 <span>{{item.price | currency}}</span>
	 <span>{{item.price * item.quantity | currency}}</span>
	 <button ng-click="remove($index)">Remove</button>
	</div>
	<script src="assets/angular.min.js"></script>
	<script>
	  function CartController($scope) {
	    $scope.items = [
	      {title: 'Pots', quantity: 8, price: 3.95},
	      {title: 'Dots', quantity: 17, price: 12.95},
        {title: 'Pebbels', quantity: 5, price: 6.95}
	    ];
	    $scope.remove = function(index) {
	      $scope.items.splice(index, 1);
	    };
	  }
	</script>
</body>
</html>